.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.header-container {
    height: 5rem;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.header-input {
    width: 95%;
    height: 2.5rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    padding: 0 1rem;
}

.searchResults {
    display: none;
}

.searchResults.active {
    position: absolute;
    top: 5rem;
    left: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: calc(100vh - 5rem);
}

.searchResults a {
    text-align: right;
    width: 100%;
    background-color: #161616;
    padding: .5rem 1rem;
    transition: all .3s;
    color: #fff;
    text-decoration: none;
    font-weight: 600;

    transition: color .3s;
}

.searchResults a:hover {
    color: #FF00F5;
    background-color: #1b1b1b;

}

@media (max-width:768px) {
    .header {
        flex-direction: column;
        height: 9rem;
        overflow-x: hidden;

    }

    .header-input {
        width: 70%;
    }

    .header-container a {
        order: 2;

    }

    .searchResults.active {
        top: 9rem;
    }

    .searchResults a {
        text-align: left;
        padding: .25rem 1rem;
        font-weight: 600;
    }

}