.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.header-container {
    height: 5rem;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.header-input {
    width: 95%;
    height: 2.5rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    padding: 0 1rem;
}