* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  background-color: #2C2C2C;
  background-image: linear-gradient(90deg, #0f0f0f 0%, #161616 50%, #0f0f0f 100%);
  /* background-color: #fff; */
}

.section-title {
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 700;
  letter-spacing: 1px;
  opacity: .7;

  margin-bottom: 1rem;

  background: -webkit-linear-gradient(225deg,
      #FF00F5 0%,
      #0FEFFD 48.15%,
      #FF00F5 100%) !important;

  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.logo {
  background: -webkit-linear-gradient(60deg,
      #0FEFFD 0%,
      #FF00F5 100%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 2px;
}